<div class="footer">
    <a href="/"><p id="home-page">Home Page</p></a>
    <a href="/numbers"><p id="products-page">All numbers</p></a>
    <a href="/numbers/new"><p id="new-page">New number</p></a>
</div>