<div class="middle-numbers">
    <h1 id="numbers-h1">Numbers</h1>
    <table id="numbers-table">
        <tr>
            <th>Created</th>
            <th>Value</th>
        </tr>
        {{#if viewData.pureNumbers.length}}
         {{#each viewData.pureNumbers}}
        <tr>
            <th>{{this.createdAt}}</th>
            <th>{{this.value}}</th>
        </tr>
        {{/each}}
        {{else}}
        <p>No numbers to show</p>
        {{/if}}
    </table>
</div>