<div class="middle-products">
<h1>New product</h1>

<form method="post" action="/numbers/create">
  <div class="form-group">
    <input type="text" id="inputName" name="value" placeholder="Enter new number" required="required" autofocus="autofocus" />
  </div>

  <button type="submit">Create new number</button>
</form>
</div>