<div class="middle-products">
    <h1>Product detail</h1>
    <div>
        <p>Id: <span>{{viewData.numbers.date}}</span></p>
        <p>Name: <span>{{viewData.numbers.value}}</span></p>
    </div>
    <button class="menu">Back to menu</button>
</div> 