<div class="middle-products">
    <h1>Number detail</h1>
    <div>
        <p>Number: <span>{{viewData.number.value}}</span></p>
        <p>Date: <span>{{viewData.number.date}}</span></p>
    </div>
</div> 