<div class="middle-products">
<h1>New product</h1>

<form method="post" action="/products/create">
  <div class="form-group">
    <input type="text" id="inputName" name="name" placeholder="Enter the product's name" required="required" autofocus="autofocus" />
  </div>

  <button type="submit">Create Product</button>
</form>
</div>