<div class="middle-products">
    <h1>Product detail</h1>
    <div>
        <p>Id: <span>{{viewData.product.id}}</span></p>
        <p>Name: <span>{{viewData.product.name}}</span></p>
    </div>
</div> 