<div class="main-index">
  <div class="info-general">
    <h1>This is an example of my Express webside handling persistent data</h1>
    <h3><a href="https://rawgit.com/1dv023/syllabus/master/lectures/03/index.html" target="_blank">Learn more >></a></h3>
  </div>
  <div class="info-crud">
    <h4>CRUD</h4>
    <p>This site is a simple crud application for creating and editing code snippets.</p>
  </div>
  <div class="info-sessions">
    <h4>Session</h4>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit, tenetur! Suscipit, consequuntur ad ipsum doloribus explicabo dignissimos voluptas fugiat quia inventore veniam unde natus asperiores odio ducimus dolorum maiores quo.</p>
  </div>
  <div class="info-flash">
    <h4>Flash messages</h4>
    <p>I am using flash messages to inform the user that the action has been done.</p>
  </div>
  <div class="credits">
    <h4>Credits</h4>
    <p>Many thanks to Mats Loock and Johan Leitet for the awesome Node.js course. &#128525;</p>
  </div>
</div>