<div class="main-index">
  <div class="info-general">
    <h1>This is an example of my Express webside handling persistent data</h1>
    <h3><a href="https://rawgit.com/1dv023/syllabus/master/lectures/03/index.html" target="_blank">Learn more >></a></h3>
  </div>
  <div class="info-crud">
    <h4>CRUD</h4>
    <p>This site is a simple crud application for creating and editing code snippets.</p>
    <p>In this project i am using the session based authentication approach.</p>
  </div>
  <div class="credits">
    <h4>Credits</h4>
    <p>Many thanks to Mats Loock and Johan Leitet for the awesome Node.js course. &#128525;</p>
  </div>
</div>

{{!-- inform the user how the credentials are hadnled --}}
{{!-- forse the user how to form the password --}}
{{!-- allow special characters and long password --}}
{{!-- password strength encouragement --}}