html, body {
  width: 100%;
  height: 100%;
}

.grid-container {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto auto;
  gap: 1px 1px;
  grid-template-areas: "header header header header" "main main main main" "menu menu menu menu" "footer footer footer footer";
}

.header { 
  grid-area: header;
  background-color: rgb(164, 192, 245);
  padding: 1rem;
}

.footer { 
  grid-area: footer;
  background-color: rgb(164, 192, 245);
  padding: 1rem;
}

/* .main {
  padding: 1rem;
  background-color: #EFF0F1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fit);
  grid-template-areas: "snippet";
  grid-auto-flow: dense;
 
  gap: 5px 5px;
  
  grid-area: main;

} */

.main {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-area: main;
  gap: 5px 5px;
}

.break {
  word-break: break-all;
}

/* .snippet { grid-area: snippet; } */

.menu {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto 1fr;
  gap: 1px 1px;
  grid-template-areas: "left mid right";
  grid-area: menu;
}

.left { grid-area: left; }

.mid { grid-area: mid; }

.right { grid-area: right; }

.hidden {
  visibility: hidden;
  width: 0px;
  padding: 0px;
  margin: 0px;
}

/* .addSnippet { grid-area: addSnippet; } */

/* #addSnippet, #addSnippetBtn {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 0;
  -webkit-appearance: none;
}




.input,
.submit {
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 0;
    -webkit-appearance: none;
}

.input {
    border: 1px solid lightgray;
}

.submit {
    background-color: rgb(156, 235, 156);
    border: 1px solid transparent;
} */