<header class="header">
  <ul class="nav-ul">
    <li class="nav-li"><a class="active" href="/">Info</a></li>
    {{>userId}}
  </ul>
  {{!-- <a href="#">New Snippet</a> --}}
</header>

{{!-- {{#if sess.userId}}
    <li class="nav-li"><a href="/user">Snippets</a></li>
    {{else}}
    <li class="nav-li"><a href="/snippets">Snippets</a></li>
    {{/if}} --}}