<header class="header">
  <ul class="nav-ul">
    <li class="nav-li"><a class="active" href="/">Info</a></li>
    <li class="nav-li"><a href="/snippets">Snippets</a></li>
  </ul>
  {{!-- <a href="#">New Snippet</a> --}}
</header>