{{#if userId}}
<li class="nav-li"><a href="/user">Snippets</a></li>
{{else}}
<li class="nav-li"><a href="/auth/register">Sign in</a></li>
<li class="nav-li"><a href="/auth/login">Login</a></li>
<li class="nav-li"><a href="/snippets">Snippets</a></li>
{{/if}}