<div class="main">
  <div class="snippets">
    <div class="snip">1</div>
    <div class="snip">2</div>
    <div class="snip">3</div>
  </div>
  <div class="snippets">
    <div class="snip">1</div>
    <div class="snip">2</div>
    <div class="snip">3</div>
  </div>
  <div class="snippets">
    <div class="snip">1</div>
    <div class="snip">2</div>
    <div class="snip">3</div>
  </div>
</div>
<div class="menu">
  <div class="leftMenu">as</div>
  <div class="midMenu">
    a
  </div>
  <div class="rightMenu">as</div>
</div>