<div class="container">
 <div class="messages"></div>
 <div class="menu">
  <form method="POST" action="/new" name="input-snippet-form">
    <label for="input-snippet">Type your snippet</label>
    <textarea name="input-snippet-text"></textarea>
    <input type="submit" class="button" name="input-snippet">
  </form>
 </div>
</div>

<script src="/js/index.js"></script>