<div class="main">
  {{#if viewData.snippets.length}}
    {{#each viewData.snippets}}
    <div class="snippet">
      <p class="break"><pre class="prettyprint">{{this.value}}</pre></p>
    </div>
    {{/each}}
    {{else}}
    <div class="snippet">
     <p>No snippets so far</p>
    </div>
  {{/if}}
</div>
<div class="menu">
  <div class="leftMenu"></div>
  <div class="midMenu">
    <x-custom></x-custom>
  </div>
  <div class="rightMenu"></div>
</div>