<div class="main">
  <div class="snippets">
  {{#if viewData}}
    <div class="snippet">
      <p>{{viewData.text}}</p>
    </div>
  {{/if}}
  </div>
  
  <div class="addSnippet">
    <form method="POST" action="/" name="inputForm">
      <label for="input-snippet" class="hidden">Type your snippet</label>
      <input class="input" name="inputText" type="text" placeholder="Add snippet...">
      <input class="submit" type="submit" value="Submit">
    </form>
  </div>
</div>

 {{!-- 
 <form method="POST" action="/" name="inputForm">
      <label for="input-snippet">Type your snippet</label>
      <textarea name="inputText"></textarea>
      <input type="submit" class="button" name="inputSnippet" id="input-snippet">
    </form>

<script src="/js/index.js"></script> --}}

{{!-- <form method="POST" action="/" name="inputForm">
      <label for="input-snippet" class="hidden">Type your snippet</label>
      <textarea name="inputText" id="addSnippet"></textarea>
      <input type="submit" class="button" name="inputSnippet" id="addSnippetBtn" value="Submit">
    </form> --}}