<div class="main">
  {{#if viewData.snippets.length}}
    {{#each viewData.snippets}}
      {{#startsWith "   " this.value}}
      <div class="snippet">
        <p class="break"><pre class="prettyprint">{{this.value}}</pre></p>
        <div class="buttonHolder">
          <button class="editBtn">Edit</button>
          <button class="deleteBtn">Delete</button>
        </div>
      </div>
      {{else}}
      <div class="snippet">
        <p class="break">{{this.value}}</p>
        <div class="buttonHolder">
          <button class="editBtn">Edit</button>
          <button class="deleteBtn">Delete</button>
        </div>
      </div>
      {{/startsWith}}
    {{/each}}
    {{else}}
    <div class="snippet">
     <p>No snippets so far</p>
    </div>
  {{/if}}
</div>
<div class="menu">
  <div class="leftMenu"></div>
  <div class="midMenu">
    <x-custom></x-custom>
  </div>
  <div class="rightMenu"></div>
</div>
