<div class="main">
  <div class="snippets">
  {{#if viewData.snippets.length}}
    {{#each viewData.snippets}}
    <div class="snippet">
      <p>{{this.value}}</p>
    </div>
    {{/each}}
    {{else}}
    <div class="snippet">
      <p>No snippets so far</p>
    </div>
  {{/if}}
  </div>
  
  <div class="addSnippet">
    <form method="POST" action="/create" name="inputForm">
      <label for="input-snippet" class="hidden">Type your snippet</label>
      <input class="input" name="inputText" type="text" placeholder="Add snippet...">
      <input class="submit" type="submit" value="Submit">
    </form>
  </div>
</div>